{% extends 'base.html' %}

{% block content %}
<h2>Resutado da Identificação do Cogumelo</h2>

<p><strong>Imagem enviada:</strong></p>
<img src="{{url_for('static', filename='uploads/' + imagem) }}" class="img-thumbnail mb-4" width="300">

{% if sugestoes %}
<ul class="list-group">
    {% for s in sugestoes %}
    <li class="list-group-item">
        <h5>{{ s.name }} ({{ (s.probability * 100) | round(2) }}%)</h5>
        {% if s.details.common_names %}
        <p><strong>Nome comum:</strong> {{ s.details.common_names | join(', ') }}</p>
        {% endif %}
        {% if s.details.edibility %}
        <p><strong>Comestível?</strong> {{ s.details.edibility }}</p>
        {% endif %}
        {% if s.details.psychoactive %}
        <p><strong>Psicoativo?</strong> {{ s.detils.psychoactive }}</p>
        {% endif %}
        {% if s.details.url %}
        <a href="{{s.details.url}}" target="_blank">Mais informações</a>
        {% endif %}

        {% if s.similar_images %}
        <div class="row mt-3">
            {% for img in s.similar_images %}
            <div class="col-md-3 text-center mb-3">
                <img src="{{ img.url_small }}" class="img-fluid rounded" alt="Imagem semelhante">
                <p class="small text-muted">{{ img.citation }}</p>

            </div>
            {% endfor %}

        </div>
        {% endif %}

    </li>
    {% endfor %}

</ul>
{% else %}
<p>Nenhuma sugestão encontrada.</p>
{% endif %}

{% endblock %}